<ion-tabs>
  <ion-tab-bar slot="bottom" class="tabs">
    <ion-tab-button tab="groups" class="tabs-button">
      <ion-icon name="calendar-outline"></ion-icon>
      Calendar
    </ion-tab-button>
    <ion-tab-button tab="messages" class="tabs-button">
      <ion-icon name="chatbubble-outline"></ion-icon>
      Messages
    </ion-tab-button>
    <ion-tab-button tab="settings" class="tabs-button">
      <ion-icon name="settings-outline"></ion-icon>
      Settings
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
