<ion-content class="ion-padding" [fullscreen]="true">
  <app-container [isFullHeight]="true">
    <div class="container-top">
      <img src="../../../assets/icon/favicon.png" alt="VereniQ logo" class="app-icon-logo">
    </div>
    <div class="container-bottom">
      <div class="container-text">
        <h1><b>Smart clubs,<br>smart connection</b></h1>
        <p>Sign in or create an account</p>
      </div>
      <div class="container-button">
        <ion-button expand="block">Sign in</ion-button>
        <ion-button expand="block" fill="outline">Create new account</ion-button>
      </div>
    </div>
  </app-container>
</ion-content>
