ion-card {
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  border-radius: 12px;
  margin: 10px;
}

ion-card:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background: var(--ion-color-light);
}

ion-col.text, ion-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
