<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>New Account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">
  <app-container [isFullHeight]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Email confirmation</ion-title>
      </ion-toolbar>
    </ion-header>
    <app-email-confirmation-animation/>
    <div class="container-bottom">
      <div class="container-text">
        <p>We've sended an email with a link to confirm your email-adress. Please click the link to activate your account. When confirmed, click the button below to log in with your new account.</p>
      </div>
      <div class="container-button">
        <ion-button expand="block" (click)="this.router.navigate(['/auth/signin'])">I've confirmed my email</ion-button>
      </div>
    </div>

  </app-container>
</ion-content>
