app-email-confirmation-animation {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-bottom {
  flex-shrink: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 12px 0 12px;
}

.container-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
