<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Groups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"  [fullscreen]="true">
  <app-container>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Groups</ion-title>
      </ion-toolbar>
    </ion-header>
    <app-button-card>
      <app-button-card-text title="Group 1"></app-button-card-text>
    </app-button-card>
    <app-button-card iconName="add-outline" [showChevron]="false">
      <app-button-card-text title="Sign in for a Group"></app-button-card-text>
    </app-button-card>
  </app-container>
</ion-content>
