<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Event 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-container [isFullHeight]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Event 1</ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="chat-container">
      <div class="chat-message">
        <ion-card>
          <ion-card-content>
            Hey! Welcome to Event 1
          </ion-card-content>
        </ion-card>
      </div>

      <div class="chat-message">
        <ion-card>
          <ion-card-content>
            The event will start at 3 PM, make sure to be ready!
          </ion-card-content>
        </ion-card>
      </div>

      <div class="chat-message">
        <ion-card>
          <ion-card-content>
            If you have questions, check the FAQ in the main menu.
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </app-container>
</ion-content>
