.container-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.container-bottom {
  flex-shrink: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
