<ion-content class="ion-padding" [fullscreen]="true">
  <div id="container">
    <div id="container-top">
      <img src="assets/icon/favicon.png" alt="VereniQ logo" id="app-icon-logo">
    </div>
    <div id="container-bottom">
      <div id="container-text">
        <h1><b>Slimme clubs,<br>slimme verbinding</b></h1>
        <p>Log in of maak een account</p>
      </div>
      <div id="container-button">
        <ion-button expand="block">Inloggen</ion-button>
        <ion-button expand="block" fill="outline">Account aanmaken</ion-button>
      </div>
    </div>
  </div>
</ion-content>
